/* Main Header Items */
.main-header-portugal {
    background-color: indianred;
}

.main-img-portugal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.main-img-portugal img {
    border: 5px solid plum;
    width: 60vw;
    height: auto;
}

.country-name-portugal {
    background-image: linear-gradient(to right, darkgreen, crimson);
    text-shadow: -5px 5px 4px black;
    color: yellow;
    text-align: center;
    font-size: 24px;
}

/* Overall List Items */
.main-list-portugal {
    background-color: gray;
    padding: 20px;
}

.thumbnail-img {
    display: block;
    width: 20vw;
}

/* City List Items */
.city-list-container-portugal {
    border: 1px dashed oldlace;
    padding: 5px;
}

.city-list-portugal {
    background-color:rosybrown;
    border: 2px solid brown;
    padding: 30px;
    margin: 5px;
}

.city-name {
    font-size: 16px;
    font-weight: bold;
    color: purple
}

.city-description {
    font-size: 14px;
    color: darkblue;
}

/* Landmark List Items */
.landmark-list-portugal{
    background-color: tan;
    margin: 1em;
} 

/* Celebrity List Items */
.celebrity-list-portugal {
    background-color: peru;
    margin: 1em;
}



